.color .descricao {
    float: left;
}

.descricao {
    width: 100% !important;
    height: 200px !important;
    padding-top: 0.5vw;
}

.item {
    padding-left: 1.2vw;
}

.color #cor-categoria {
    float: left;
}

.color {
    display: inline;
}

.modal-body .item {
    border: 1px gray solid;
    border-radius: 45px;
}

#cor-categoria {
    background-color: black;
}

.modal-body .item {
    font-weight: bold;
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.modal-body #nome {
    font-weight: normal;
}

.modal-body #categoria {
    font-weight: normal;
}

.modal-body #descrição {
    font-weight: normal;
}

@media (max-width: 1000px) {
    .descricao {
        padding-top: 2%;
    }
}

@media (max-width: 600px) {
    .modal-body {
        font-size: 3rem;
    }
    .descricao {
        height: 500px;
    }
}