.body {}

.timesheet {
    /* overflow: hidden; */
    padding: 15px;
    /*background-color: rgb(168, 168, 168); */
    min-width: 1100px;
    /* overflow-X: scroll;*/
}

.painelSuperior {
    display: flex;
    flex-wrap: wrap;
}

.diasDaSemana {
    flex-direction: row;
    width: calc(100% / 7);
    height: 15%;
    padding: 2%;
    background-color: #efefef;
    box-sizing: border-box;
    text-align: center;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
}

.linha {
    display: flex;
    flex-wrap: wrap;
}

.coluna {
    margin-top: 0.5%;
    flex-direction: row;
    /*float: left; */
    font-size: 1em;
    width: calc(100% / 7);
    max-height: 80px;
    line-height: 3px;
    padding: 2%;
    box-sizing: border-box;
    text-align: left;
}

.turquesa {
    background-color: #1abc9c;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

.blue {
    background-color: #3498db;
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}

.cinza {
    background-color: #34495e;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.orange {
    background-color: #e67e22;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

.concreto {
    background-color: #95a5a6;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

.purple {
    background-color: #9b59b6;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.borderRadiusLeft {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

.borderRadiusRight {
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

@media (max-width: 1100px) {
    .diasDaSemana {
        font-size: 2rem;
    }
}